body {
  background-color: #eee;
  box-sizing: border-box;
}
.container ul li {
  float: left;
  position: relative;
  width: 180px;
  height: 296px;
  background-color: #fff;
  box-shadow: 3px 2px 30px rgba(0, 0, 0, 0.1);
  padding: 60px 0 0 0;
  list-style: none;
  text-align: center;
  transition: all 1000ms ease-out;
}
.container ul li a {
  text-decoration: none;
}
.container ul li .title {
  color: black;
  font-size: 22px;
}
.container ul li .subtitle {
  color: #888;
  font-size: 16px;
}
.container ul li .go {
  display: none;
}
.container ul li img {
  position: absolute;
  right: 5px;
  bottom: 40px;
  width: 170px;
  height: 170px;
  transition: all 1000ms ease-out;
}
.container ul li:hover {
  width: 400px;
  padding-left: 20px;
  background-color: #52acca;
  text-align: left;
  transition: all 1000ms ease-out;
}
.container ul li:hover .title {
  color: white;
}
.container ul li:hover .subtitle {
  color: white;
}
.container ul li:hover .go {
  display: block;
  height: 26px;
  line-height: 26px;
  width: 45px;
  border: 2px solid white;
  margin-top: 20px;
  border-radius: 15px;
  color: white;
  text-align: center;
}
.container ul li:hover img {
  position: absolute;
  right: 20px;
  bottom: 40px;
  width: 220px;
  height: 220px;
}
